{% extends "base.html" %}

{% block titulo %} Venti {% endblock %}

{% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/mondstadt_style/venti.css') }}">

    <div class="contenedor">
        <div class="cuadro top_side">
            <div class="content">
                <p>**Orígenes y Divinidad**</p>
                <br>
                
                <p>En el vasto y enigmático mundo de Teyvat, los arcontes son deidades que guían y protegen a sus pueblos.</p>
                <p>Entre ellos se encuentra Venti, también conocido como Barbatos, el arconte Anemo de Mondstadt.</p>
                <p>A diferencia de otros dioses que buscan ejercer control sobre sus dominios,</p>
                <p> Barbatos se erige como un símbolo de libertad y autoexpresión.</p>
                <p>Su esencia está entrelazada con el viento, un elemento que representa no solo la fuerza,</p>
                <p>sino también la ligereza del ser y la conexión con la naturaleza.</p>



            </div>

        </div>
        <div class="cuadro top_side">
            <div class="title-box">
                <div class="title-line">Venti, el bardo</div>

            </div>
            <div class="content">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>**La Canción de los Vientos**</p><br>
                <p>En su forma humana, Venti es un bardo errante que recorre los paisajes de Mondstadt.</p>
                <p>Con su laúd en mano, deleita a los lugareños y viajeros con melodías que hablan de antiguas leyendas</p>
                <p>y aventuras pasadas. A menudo, se le encuentra en las plazas de la ciudad, rodeado de amigos y admiradores,</p>
                <p>compartiendo historias que inspiran sonrisas y evocan recuerdos. Su carácter despreocupado</p>
                <p>y su afán de disfrutar de los placeres simples de la vida lo convierten en un espíritu libre,</p>
                <p>amado por aquellos que tienen la fortuna de cruzarse en su camino.</p>

            </div>

        </div>
        <div class="cuadro bot_side izquierdo">

        </div>
        <div class="cuadro bot_side">
        <div class="content">
            <p>La personalidad de Venti es una combinación de carisma, alegría y</p>
            <p>un toque de travesura.Siempre listo para una risa o una broma,</p>
            
            <p>su naturaleza juguetona es contagiosa,y su presencia ilumina</p>
            <p> cualquier reunión. Sin embargo,detrás de su apariencia despreocupada, </p>
            <p>Venti carga el peso de ser un arconte y protector de su pueblo.</p>
           
            <p>Su profundo amor por Mondstadt y su gente lo motiva a velar por su bienestar, </p>
            <p>recordando siempre que la verdadera grandeza reside en la libertad y la unidad. </p>
            <p>Con cada nota de su laúd y cada soplo de viento, </p>
            <p>Venti continúa su viaje, dejando tras de sí un legado de alegría,</p>
            <p>libertad y la promesa de un futuro brillante para todos los que habitan bajo su protección.</p>
            <p>En un mundo repleto de desafíos y adversidades,su esencia recuerda a los </p>
            <p>aventureros que la verdadera aventura se encuentra en la búsqueda de la libertad </p>
            <p> y la conexión con los demás.</p></div>

        </div>
    </div>

</html>


{% endblock %}


/*

> ***Barbatos, el Arconte Anemo.***

**Orígenes y Divinidad**

En el vasto y enigmático mundo de Teyvat, los arcontes son deidades que guían y protegen a sus pueblos.
 Entre ellos se encuentra Venti, también conocido como Barbatos, el arconte Anemo de Mondstadt.
  A diferencia de otros dioses que buscan ejercer control sobre sus dominios,
   Barbatos se erige como un símbolo de libertad y autoexpresión. 
   Su esencia está entrelazada con el viento, un elemento que representa no solo la fuerza,
    sino también la ligereza del ser y la conexión con la naturaleza.

**La Canción de los Vientos**

En su forma humana, Venti es un bardo errante que recorre los paisajes de Mondstadt.
 Con su laúd en mano, deleita a los lugareños y viajeros con melodías que hablan de antiguas leyendas
  y aventuras pasadas. A menudo, se le encuentra en las plazas de la ciudad, rodeado de amigos y admiradores,
   compartiendo historias que inspiran sonrisas y evocan recuerdos. Su carácter despreocupado
    y su afán de disfrutar de los placeres simples de la vida lo convierten en un espíritu libre,
     amado por aquellos que tienen la fortuna de cruzarse en su camino.

**Personalidad**

La personalidad de Venti es una combinación de carisma, alegría y un toque de travesura.
 Siempre listo para una risa o una broma, su naturaleza juguetona es contagiosa,
  y su presencia ilumina cualquier reunión. Sin embargo, detrás de su apariencia despreocupada,
   Venti carga el peso de ser un arconte y protector de su pueblo. Su profundo amor por Mondstadt 
   y su gente lo motiva a velar por su bienestar, recordando siempre que la verdadera grandeza reside 
   en la libertad y la unidad.

Con cada nota de su laúd y cada soplo de viento, 
Venti continúa su viaje, dejando tras de sí un legado de alegría,
 libertad y la promesa de un futuro brillante para todos los que habitan bajo su protección.
  En un mundo repleto de desafíos y adversidades, 
  su esencia recuerda a los aventureros que la verdadera aventura se encuentra en la búsqueda de la libertad 
  y la conexión con los demás.*/