adblock @ file:///build/python-adblock/src/python-adblock-0.6.0/target/wheels/adblock-0.0.0-cp37-abi3-manylinux_2_34_x86_64.whl#sha256=9533302573b6f039ee78a04cc2c0405d3a2c3873706c0b5c303172b7b913e92e
aiohappyeyeballs==2.4.3
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
argcomplete==3.4.0
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.2.1.dev0
autocommand==2.2.2
beautifulsoup4==4.12.3
blinker==1.8.2
btrfsutil==6.10
build==1.2.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
coverage==7.6.3
cryptography==42.0.8
Cython==3.0.11
dbus-python==1.3.2
distlib==0.3.8
distro==1.9.0
docopt==0.6.2
evdev==1.7.1
fastjsonschema==2.20.0
filelock==3.13.3
frozenlist==1.4.1
gpg==1.24.0
idna==3.10
inflect==7.4.0
iniconfig==2.0.0
installer==0.7.0
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
meson==1.6.0
moddb==0.11.0
more-itertools==10.3.0
multidict==6.0.5
natsort==8.4.0
netsnmp-python==1.0a1
nftables==0.1
nose==1.3.7
ordered-set==4.1.0
packaging==24.1
pillow==11.0.0
pipenv==2024.4.0
pipx==1.6.0
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
pulsemixer==1.5.1
pycairo==1.27.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyGObject==3.50.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
PyQt6==6.8.0.dev2410211537
PyQt6-WebEngine==6.7.0
PyQt6_sip==13.8.0
pyrate-limiter==3.7.0
PySocks==1.7.1
pytest==8.3.3
pytest-cov==5.0.0
python-distutils-extra==2.39
pyxdg==0.28
PyYAML==6.0.2
qutebrowser==3.3.1
requests==2.32.3
setuptools==75.2.0
soupsieve==2.6
stig==0.12.10a0
tomli==2.0.1
toolz==0.12.1
torbrowser-launcher==0.3.7
tqdm==4.66.6
trove-classifiers==2024.10.21.16
typeguard==4.3.0
typing_extensions==4.12.2
urllib3==1.26.20
urwid==2.6.15
urwidtrees==1.0.3
userpath==1.9.2
validate-pyproject==0.22
virtualenv==20.27.1
virtualenv-clone==0.5.7
wcwidth==0.2.13
wheel==0.44.0
yarl==1.9.4
yt-dlp==2024.11.4
