#contrato {
    margin: 0;
    position: absolute; /* Posiciona el texto sobre la imagen */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Ajusta el centrado horizontal */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px; /* Bordes redondeados */
}