.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#sello_liyue {
    position: absolute;
    top: 215px;
    left: 551px;
    width: 9%;
    height: 20%;
}

.marco_titulo {
    top: 40px;
    left: 605.5px;
}