.card img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Recorta la imagen de manera uniforme */
}

.card .marco_titulo {
    width: 126px;
    left: 610.5px;
}

.card #sello_anemo {
    position: absolute;
    width: 9%;
    height: 20%;
    left: 554px;
    top: 275px;
}