<div class="descripcion_contrato">
    <h3>
        Objeto del Contrato: 
        Este acuerdo permite la exploración de Liyue, donde cada rincón refleja su rica historia y el valor de los contratos.

    </h3>
    <p>
        Considerando:
        <br>- Orígenes Humildes: Liyue comenzó como un monte vacío. A través del esfuerzo conjunto, se transformó en una nación próspera y vibrante.
        <br>- La Nación de los Contratos: En este lugar, el comercio trasciende el simple intercambio de bienes; cada acuerdo es un pilar fundamental de confianza y compromiso.
        <br>- El Puerto Principal: Este puerto, centro neurálgico de comercio, simboliza la conexión entre personas y culturas, sustentado en la fuerza de los contratos.
        <br><br>
        Cláusulas:
        <br>
        - Derecho a Explorar: El Viajero se compromete a descubrir y valorar la historia de Liyue.
        <br>
        - Respeto y Aprendizaje: Cada interacción con la cultura local será un acto de respeto y reconocimiento de su sabiduría.
        <br>
        - Honor y Compromiso: La exploración reafirma el valor de las promesas, esenciales para el crecimiento y la prosperidad.
        <br><br>
        
        <h3>Conclusión:
            Al firmar este contrato, el Viajero acepta sumergirse en la rica tapestria de Liyue, un lugar donde la historia y el compromiso guían el camino hacia un futuro brillante.</h3>

    </p>
</div>