<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/liyue_style/liyue.css') }}">
    <title>Liyue</title>
</head>
<body>
    <img id="boton" src="{{url_for('static', filename='images/naciones/liyue/sello_geo.png')}}" alt="">
    
    <h1>
        Contrato de Exploración en Liyue
    </h1>
    <h2>
        Partes Contratantes: El Viajero y la Nación de Liyue
    </h2>
    
    {% include 'naciones/liyue/contrato.html'%}
    
</body>
</html>