{% extends "base_zonas.html" %}

{% block titulo %} Sumeru - La Tierra de la Sabiduría y el Conocimiento {% endblock %}

{% block cuerpo %}

<section class="bg" style="background-image: url('{{ url_for('static', filename='images/naciones/liyue/fondo_liyue.png') }}');" alt="Sumero fondo">
  <button>
    <a href="{{ url_for('home')}}">volver</a>
  </button>

    <article class="text">
      <p> Contrato de Exploración en Liyue </p>
        <img class="icono" src="{{ url_for('static', filename='images/naciones/liyue/sello_geo.png') }}" alt="Sumeru Boton">

      <p> Partes Contratantes: El Viajero y la Nación de Liyue </p>
        
      {% include 'naciones/liyue/contrato.html'%}
    </article>
</section>

{% endblock %}