<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Ejemplo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/monstad_style/monstad.css') }}">
</head>

<body>
    <div class="container">
        <!-- Sección de Imagen -->
        <div class="left-side">
            <img src="{{ url_for('static', filename='images/naciones/monstad/fondo_lore_Venti.jpg') }}" alt="Imagen" class="imagen">
        </div>

        <!-- Sección de Fondo Verde con Texto -->
        <div class="right-side">
            <div class="title-box">
                <p class="title-line"> La nacion de la LIBERTAD</tittle-lines></p>
                </title-box>
            </div>

            <div class="contenido">

                {% include 'naciones/monstad/sonata.html' %}

                <a href="{{ url_for('personaje') }}" class="redirect-button">
                    <img src="{{ url_for('static', filename='images/naciones/monstad/sello_anemo.jpg') }}" alt="Ir a Personaje">
                </a>
            </div>
        </div>
    </div>
</body>
</html>