<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Teyvat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="icon">
                <a href="">
                    <img src="{{ url_for('static', filename='images/pjicon.png') }}" alt="Personaje">
                    <span>Personaje</span>
                </a>
            </div>
            <div class="icon">
                <a href="">
                    <img src="{{ url_for('static', filename='images/personas.png') }}" alt="Equipos">
                    <span>Equipos</span>
                </a>
            </div>
            <div class="icon">
                <a href="">
                    <img src="{{ url_for('static', filename='images/guide.png') }}" alt="Guía">
                    <span>Guía</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/book.png') }}" alt="Mapa Interactivo">
                    <span>Mapa Interactivo</span>
                </a>
            </div>
            <div class="icon">
                <a href="">
                    <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Tareas">
                    <span>Tareas</span>
                </a>
            </div>
        </div>

        {% block main %}
        
        {% endblock %}
    </div>
</body>
</html>
