
.card .marco_titulo {
    left: 684.5px;
    bottom: 477px;
    top: 103px;
    width: 111px;
    right: 308.867px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Recorta la imagen de manera uniforme */
}

.card #sello_dendro {
    position: absolute;
    width: 9%;
    height: 20%;
    left: 553px;
    top: 416px;
    background-color: #ffffff00;
}

.card #cuento {
    margin: 0;
    position: absolute; /* Posiciona el texto sobre la imagen */
    transform: translateX(-50%); /* Ajusta el centrado horizontal */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px; /* Bordes redondeados */
    width: 636.5px;
    left: 834.5px;
    height: 414.8px;
    top: 68px;
    padding-top: 10px;
}