{% extends "base.html" %}

{% block titulo %} Personajes {% endblock %}

<h1> Listado de personajes: </h1>
  <table>
    <tr>
      <th> ID </th>
      <th> Nombre </th>
      <th> edad </th>
      <th> region </th>
      <th> elemento </th>
      <th> . </th>
    </tr>
    <tr>
      {% for personaje in personajes %}
        <td>  {{personaje.ID}} </td>
        <td>  {{personaje.nombre}} </td>
        <td>  {{personaje.region}} </td>
        <td>  {{personaje.elemento}} </td>
        <a href="{{ url_for("readmore", personaje_id=personaje.ID) }}">Ver stats</a>
      </tr>
    {% endfor %}
  </table>
